<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户添加</title>
</head>
<body>
    <center>
        <header>添加用户</header>
        <form method="post" action="/user/save" style="width: 100%;">
            姓名：<input type="text" name="name"/><br>
            身份证：<input type="text" name="cardId"/><br>
            年龄：<input type="text" name="age"/><br>
            地址：<input type="text" name="addr"/><br>
            <input type="submit" value="提交">
        </form>
    </center>
</body>
</html>